body
  font-family: $font-body
  font-size: $font-size-base
  color: $color-text
  
h1,
h2,
h3 
  letter-spacing: .025em
  font-family: $font-code

h1
  font-size: 2.125em

h2
  margin: 1.75em 0 .25em
  font-size: 1.325em

h3
  margin: 0
  font-size: 1.125em

ul,
ol
  padding-left: 20px

p,
a 
  line-height: 1.5em

a
  color: $color-link

blockquote
  $bq-border: 8px
  margin-left: -$site-gutter
  padding-left: calc(#{$site-gutter} - #{$bq-border})
  border-left: $bq-border solid $color-mint
  color: $color-mint

  +desktop
    margin-left: -$site-gutter;
    padding-left: calc(#{$site-gutter} - #{$bq-border});