$font-heading: 'FiraSansBlack', Helvetica, sans-serif
$font-subheading: 'FiraSansBold', Helvetica, sans-serif
$font-body: 'LatoRegular', helvetica, sans-serif
$font-code: 'FiraCode', 'Courier New', Courier, monospace

$site-container: 42rem
$site-gutter: 1.75rem

$radius: .325rem

$font-size-base: 18px

$color-site-bg: #030723
$color-code-bg: transparentize(#d4e4ff, .25)
$color-link: #ff4747
$color-text: #fff

$color-mint: #3ec79f