$font-heading: 'Fira Sans', Helvetica, sans-serif
$font-body: 'Lato', helvetica, sans-serif
$font-code: 'Fira Mono', 'Courier New', Courier, monospace

$site-container: 42em
$site-gutter: 1.125em

$font-size-base: 18px

$color-site-bg: #030723
$color-code-bg: transparentize(#d4e4ff, .25)
$color-link: #ff4747
$color-text: #fff

$color-mint: #3ec79f